@charset "UTF-8";
@font-face {
    font-family: 'droid';
    src: url(fontes/idroid.otf);
}

img {
    width: 100%;
    margin: auto;
    display: block;
    max-width: 850px;
}

body {
    background-color: #E7E5C1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

header {
    background-image: linear-gradient(to bottom, #00C455, #002d13);
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;
    box-shadow: 0px 2px 2px 2px rgb(0, 0, 0);
}

header p {
    max-width: 500px;
    margin: auto;
    margin: 20px auto 20px auto;
}

nav {
    background-color: #002d13;
    padding: 10px;
}

nav a {
    font-weight: bold;
    color: #43af72;
    padding: 5px;
    margin: 20px;
    border-radius: 2px;
    text-decoration: none;
}

nav a:hover {
    background-color: #43af72;
    color: #00451E;
    transition-duration: 0.5s;
}

main {
    min-width: 320px;
    max-width: 900px;
    background-color: white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.300);
    margin: auto;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;
}

main h1 {
    font-family: 'droid', Arial, Helvetica, sans-serif;
    color: #00451E;
}

main h2 {
    font-family: 'droid', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #84e1ac80, transparent);
    color: #00451E;
    padding: 2px 10px 2px 10px;
}

main p {
    text-indent: 50px;
    line-height: 30px;
    text-align: justify;
}

main strong{
    color: #009C43;
}

main a {
    padding: 5px;
    background-color: #00C455;
    color: #00451E;
    text-decoration: none;
    font-weight: bold;
}

main a::after {
    content: '\00A0\1F517';
    font-size: 13px;
}

.video {
    background-color: #002d13;
    margin: 0 -20px 30px -20px;
    padding: 30px 0 0 0;

    padding-bottom: 55%;

    position: relative;
}

.video > iframe {
    
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color: #84e1ace1;
    border-radius: 20px;
    padding: 0 10px 0 10px;
}

aside ul {
    columns: 2;
}

#titlelearnmore{
    padding: 12px;
    margin-bottom: 0;
    color: white;
    background-color: #00451ec1;
    border-radius: 20px 20px 0 0;
    margin: 0 -10px;
}

#bugdroid {
    max-width: max-content;
    margin: 0 30% 0 30%;
}

#pilearn {
    padding-top: 10px;
    margin-top: 0;
}

#pflearn {
    padding-bottom: 30px;
}

footer {
    height: auto;
    background-color: #00451E;
    padding: 7px;
    text-align: center;
    color: white;
}

footer p {
    margin: 0;
}

.topico span {
    padding: 5px;

}

.topico p {
    display: none;
    background-color: #00c45585;
    border-radius: 10px;
    text-indent: 0;
    padding: 10px;
}

#duvidas li {
    margin: 10px;
}

.topico:hover > p {
    display: block;
}
